* {
    font-family: 'Raleway', sans-serif;
}

.header {
    font-size: 40px;
    text-align: center;
    height: 150px;
    border-bottom: black;
    border-style: solid;
    border-width: 5px;
    margin: 5px;
    background-color: antiquewhite;
    color: black;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
}


footer{
    text-align: center;
    padding: 3px;
    background-color: antiquewhite;
    color: black;
}

footer h2 {
    display: inline;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
