* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
body {
    background-color: grey;
    margin: 0;
}
header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    background: #790001;
    border-radius: 25px;
    border:white solid;
}

header h1 {
    width: 500px;
    margin: 0 auto;
    font-size: 60px;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main h3 {
    font-weight: bold;
    font-size: 20px;
}

footer {
    color: white;
    background: #790001;
    height: 200px;
    width: 100px;
    padding: 15px;
    border-radius: 25px;
    border:white solid;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    font-size: 30px;
    margin: 0;
}

.search {
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: 2px solid;
    border-radius: 50px;
    font-size: 1rem;
    color: white;
    font-family: inherit;
}
.search:focus {
    outline: 0;
    background-color: black;
}
.search::placeholder {
    color: skyblue;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 20px;
    border: #790001 solid;
    box-shadow: 0.2px 4px 5px rgb(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}
.movie img {
    width: 100%;
}
.movie-info {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.movie-info h3 {
    margin-top: 0;
}
.movie-info span {
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}
.movie-info span.green {
    color: lightgreen;
}
.movie-info span.orange {
    color: orange;
}
.movie-info span.red {
    color: red;
}
.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 1rem;
    max-height: 100;
    transform: translateY(101%);
    transition:transform 0.3s ease-in;
}
.movie:hover .overview {
    transform: translateY(0);
}

